<div class="card">
	<div class="card-body">
		<div (click)="onProductCardClick(product)"  style="cursor: pointer;">
			<img src="{{'data:image/png;base64,' + product.icon}}" style="height: 200px; width: 100%;" class="card-img-top center-block">
			<h5 class="card-title" style="height: 74px;">{{product.name}}</h5>
			<p class="card-text">{{product.type?.name}}</p>
			<p class="card-title-block">{{product.price | currency:'RUB '}}</p>
			<p class="card-title-block">Количество: {{product.amount}}</p>
		</div>
		<button
			*ngIf="inBusketCount === 0; else inBusket"
			(click)="addBasket(product)"
			class="btn btn-success">В корзину
		</button>
		<ng-template #inBusket>
			<div>
				Количество в корзине
				<button
					(click)="removeBasket(product)"
					class="btn btn-success" style="width: 30px;"> - </button>
				{{inBusketCount}}
				<button
					(click)="addBasket(product)"
					class="btn btn-success" style="width: 30px;"> +
				</button>
			</div>
		</ng-template>
	</div>
</div>
